/* examples-section */
.section--no-padding-top {
    padding-top: 0;
}

.examples {
    // display: flex;
    // justify-content: center;
}

.examples__item {
    margin-left: 30px;
    position: relative;

    &:first-child{
        margin-left: 0;
    }
}

.examples__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    position: absolute;
    bottom: 27px;
    left: 82px;
}

.examples__backdrop::before {
    display: inline-block;
    content: "";
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    position: absolute;
    bottom: 0;
}