/* form-footer */
.input-wrap {
    display: inline-block;
    @media screen and (min-width: $tablet){
        margin-top: 60px;
    }

    @media screen and (min-width: $desktop){
        margin-top: 0;
        margin-left: 93px;  
    }

    @media screen and (max-width: $desktop) {
        display: flex;
        flex-direction: column;
    }
}

.item-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $desktop){
        flex-direction: row;
        margin-top: 20px;
    }
}

.subscribe {
    margin-right: 12px;

    display: flex;
    flex-direction: column;
    
}

.subscribe>label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--h1-text-color);
}

.item-form>input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: transparent;

    padding-left: 16px;
    padding-bottom: 15px;
    padding-top: 15px;

    color: var(--h1-text-color);

   margin: 20px 0 20px;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
    @media screen and (min-width: $tablet){
        width: 450px;
    }
    @media screen and (min-width: $desktop){
        margin: 0 12px 0 0;
        width: 358px;
    }

}

.subscribe-button {
    width: 200px;
    height: 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    background: var(--acent-color);
    color: var(--h1-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    display: flex;
    justify-content: center;
    align-items: center;


}

.subscribe-button__icon {
    width: 24px;
    height: 24px;

    margin-left: 10px;
}