/* hang-section */
.futures {
    // display: flex;
    // justify-content: center;
}

.futures__item {
    margin-left: 30px;
    max-width: 270px;

    &:first-child{
        margin-left: 0;
    }
}

.futures__block {
    // display: flex;
    // text-align: center;
    // justify-content: center;
    // align-items: center;
    max-width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.futures__icon {
    width: 70px;
    height: 70px;
}

.futures__title {
    color: var(--primiry-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
    margin-top: 30px;
}

.futures__text {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}