/* hang-section */
.futures {
    @media screen and (min-width: $tablet){
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
         display: flex;
        justify-content: center;
    }
   
}

.futures__item {
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0;
    }
    @media screen and (min-width: $tablet) {
        width: 354px;
        margin-right: 30px;
        
        &:nth-child(2n){
            margin-right: 0;
        }
        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 1200px){

        width: 270px;
        &:nth-child(2n) {
            margin-right: 30px;
        }
        &:last-child{
            margin-right: 0;
        }
        &:nth-child(-n+2) {
            margin-bottom: 0;
        }
        
    }
}

.futures__block {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    max-width: 450px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    

    @media screen and (min-width: $desktop) {
        max-width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
    }
}

.futures__icon {
    width: 70px;
    height: 70px;
}

.futures__title {
    color: var(--primiry-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
    margin-top: 30px;

    text-align: left;

    @media screen and (max-width: 767px){
        text-align: center;
    }
}

.futures__text {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}