.nav__button{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;

    & .nav__icon-crose{
        display: none;
    }

    &.is-open .nav__icon-crose{
        display: block;
    }

    &.is-open .nav__icon-menu {
        display: none;
    }

    @media screen and (min-width: $tablet){
        display: none;
    }
}


.mobile-menu{
    @media screen and (max-width: 767px){
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--h1-text-color);
        padding: 48px 40px;

        &.is-open{
        display: flex;
        z-index: 1;
        height: 796px;
        flex-direction: column;
        justify-content: space-between;
    }
    }
    @media screen and (min-width:$tablet){
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    @media screen and (min-width: $desktop){
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    }

.mobile-flex{
    @media screen and (min-width: $desktop){
        display: flex;
    }

    @media screen and (min-width:$tablet){
        display: flex;
        justify-content: center;
    }
}