.nav__button{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & .nav__icon-crose{
        display: none;
    }

    &.is-open .nav__icon-crose{
        display: block;
    }

    &.is-open .nav__icon-menu {
        display: none;
    }

    @media screen and (min-width: $tablet){
        display: none;
    }
}

.nav__menu-mobile{
    display: none;
    width: 200px;
    height: 200px;
    background-color: black;

    &.is-open {
        display: block;
    }
}

.mobile-menu{
    &.is-open{
        display: block;
    }

    @media screen and (max-width: 767px){
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    @media screen and (min-width: $desktop){
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.mobile-flex{
    display: flex;
    align-items: center;
}