/* Header */
.line-header {
    border-bottom: 1px solid #ECECEC;
}
/* site-nav */
.nav__list {
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav__list-link {
    margin-right: 50px;
    position: relative;

    &:last-child{
        margin-right: 0;
    }
}

.nav__link {
    color: var(--primiry-text-color);

    display: block;

    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: var(--acent-color);
    }
}

.current {
    color: var(--acent-color);
}

.current::after {
    content: "";
    border: 2px solid var(--acent-color);
    background-color: var(--acent-color);
    border-radius: 2px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
}

/* contact-nav */
.nav-contact {
    display: flex;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-contact li {
    margin-right: 50px;

    &:last-child{
        margin-right: 0;
    }
}

.nav__contact-link {
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: var(--acent-color);
    }
}

.nav-contact__icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__phone-icon {
    margin-right: 10px;
    fill: currentColor;
}

.nav__mail-icon {
    margin-right: 10px;
    fill: currentColor;
}