:root {
    --primiry-text-color: #212121;
    --title-text-color: #757575;
    --adress-footer-text: rgba(255, 255, 255, 0.6);
    --h1-text-color: #ffffff;
    --acent-color: #2196f3;
    --background-hero: #2f303a;
    --background-porfolio-botton: #f5f4fa;
}